.place__image {
  margin: 0;
  grid-area: img;
  width: 460px;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media screen and (max-width: 1024px) {
  .place__image {
    width: 43.4vw;
  }
}
@media screen and (max-width: 768px) {
  .place__image {
    width: 44.1vw;
  }
}
@media screen and (max-width: 500px) {
  .place__image {
    grid-row-start: 3;
    width: 100vw;
  }
}