.place__paragraph:first-child {
  margin: 0;
}
.place__paragraph {
  margin: 26px 0 0;
  grid-area: par;
  grid-column-start: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin: 25px 0 0;
  }
}
@media screen and (max-width: 500px) {
  .place__paragraph {
    margin: 50px 16px 0;
  }
  .place__paragraph:first-child {
    margin: 25px 16px 0;
  }
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 25px 16px 0;
  }
  .place__paragraph:first-child {
    margin: 0 16px 0;
  }
}