.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
}
@media screen and (max-width: 720px) {
  .footer__copyright {
    font-size: 1.9vw;
  }
}
@media screen and (max-width: 400px) {
  .footer__copyright {
    margin-top: 38px;
    font-size: 14px;
  }
}
