.intro {
  margin: 0 auto;
  padding: 0;
  max-width: 77vw;
}
@media screen and (max-width: 1024px) {
  .intro {
    max-width: 90.6vw;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 93.5vw;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
  }
}
