.place__link {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  opacity: 0.6;
  transition: ease 1s;
}
@media screen and (max-width: 700px) {
  .place__link {
    margin: 0 24px;
  }
}
