.footer {
  margin: 92px auto 24px;
  max-width: 92.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90.5vw;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.5vw;
    margin: 88px auto 24px;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    max-width: 288px;
    margin: 64px auto 24px;
  }
}
