.intro__title {
  margin: 92px 0 40px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
}
@media screen and (max-width: 1024px) {
  .intro__title {
    font-size: 5.4vw;
  }
}
@media screen and (max-width: 768px) {
  .intro__title {
    margin: 11.5vw 0 5.2vw 0;
    font-size: 6.7vw;
  }
}
@media screen and (max-width: 600px) {
  .intro__title {
    font-size: 9vw;
  }
}
@media screen and (max-width: 550px) {
  .intro__title {
    font-size: 10.3vw;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    margin: 64px 0 40px 0;
    font-size: 32px;
    line-height: 35px;
    max-width: 280px;
  }
}
